nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav{
    background-color: #2C3E50;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}
ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.active{
    color: white;
    background-color: #1ABC9C;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

img{
    height:200px ;
}